<ion-header>
  <ion-toolbar>
    <ion-title>
      Glug Verteilen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <span *ngIf="openGlugs > 1">Du hast noch <span class="glug">{{openGlugs}} Glugs</span> zu verteilen.</span>
      <span *ngIf="openGlugs == 1">Du hast noch <span class="glug">einen Glug</span> zu verteilen.</span>
      <span *ngIf="openGlugs <= 0">Du hast <span class="glug">keine Glugs</span> mehr zu verteilen.</span>
      <span *ngIf="timeLeft">noch <span class="glug">{{timeLeft}}</span> Sekunden</span>
    </ion-list-header>
   <ion-item *ngFor="let player of players">
     <span slot="start" class="glug-count"><span class="number">{{player.slugCountReceived}}</span><img slot="end" src="assets/icon/favicon.png" /></span>
     <ion-label>{{player.name}}</ion-label>
     <ion-note slot="end" *ngIf="player.you">Du</ion-note>
     <ion-button slot="end" fill="outline" [disabled]="openGlugs <= 0" (click)="addGlug(player)">
       Glug hinzufügen
     </ion-button>
   </ion-item>
 </ion-list>
</ion-content>
