$colors: (
    blue: #446eb6,
    yellow: #ffc425,
    green: #00b159,
    brown: #f2a953,
    grey: #aaaaaa,
    red: #d11141,
    orange: #f37735,
    purple: #5900b1
);

@mixin color-modifiers($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex;
    }
  }
}

.challenge {
}

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  ion-button {
    width: 40%;
  }
}

.svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;

  &::after {
    left: 0;
    bottom: -8px;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 8px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAIBAMAAAACWGKkAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAAB3RSTlMFTEIzJBcOYhQUIwAAAB9JREFUCNdjEIQCBiUoYDCGAgYXKGAIhQKGNChgwAAAorMLKSCkL40AAAAASUVORK5CYII=");
    background-repeat: repeat-x;
    content: "";
  }
}

.text {
  font-size: 40pt;
}

.question {
  text-align: center;
  font-size: 16pt;
  margin: 10px 0 20px;
}

.object {
  stroke-width: 10px;
  stroke-linejoin: round;
}

.message {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .text {
    font-size: 120pt;
  }
}

.fill {
  @include color-modifiers($attribute: fill);
}

.stroke {
  @include color-modifiers($attribute: stroke);
}

.background {
  @include color-modifiers($attribute: background-color);
}
